{% extends "base.html" %}

{% block bodyPage %}
<h1>{{title_h1}}</h1>

<form method="POST"> {% csrf_token %}
    <div class="mb-3">
        <label for="title-input" class="form-label" >Título</label>
        <input type="text" class="form-control" id="titulo-input " name="titulo" required>
    </div>
    <div class="mb-3">
        <label for="order-input" class="form-label" >Orden</label>
        <input type="number" class="form-control" id="orden-input" name="orden" required>
    </div>
    <div class="mb-3">
        <label for="description-input" class="form-label"  >Descripción</label>
        <input type="text" class="form-control" id="descripcion-input" name="descripcion" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'anime' %}" class="btn btn-danger">Cancelar</a>
</form>

{% endblock %}

{% block sideBar %}
    {% include 'anime_añadir.html' %}
{% endblock %}