{% extends "base.html" %}

{% block bodyPage %}
<h1>Películas</h1>

<form method="GET">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="search-input" class="form-label">Buscador</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="search-input" name="search">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>
{% if peliculas %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for pelicula in peliculas %}
        <tr>
            <th scope="row">{{pelicula.orden}}</th>
            <td>{{pelicula.titulo}}</td>
            <td> {{pelicula.descripcion}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
    <p>No hay películas para mostrar</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block sideBar %}
{% include 'peliculas_añadir.html' %}
{% endblock %}